<div>
	<label>First Name:</label>
	<span>{{firstName}}</span>
<div>
<div>
	<label>Last Name:</label>
	<span>{{lastName}}</span>
<div>
<div>
	<label>Email:</label>
	<span>{{email}}</span>
<div>
<div>
	<a href="#{{firstName}}_{{lastName}}">View Details</a>
</div>
