<a href="#{{firstName}}_{{lastName}}">View Details</a>
<span> User Name: <strong> {{firstName}} {{lastName}} </strong> </span>
<span> Email: <strong>{{email}} </strong> </span>
<a href="#delete" id="delete" data-user="{{firstName}}_{{lastName}}">Delete</a>
