.span3: a(href='##{firstName}_#{lastName}') View Details
.span3 User Name: #{firstName} #{lastName}
.span3 Email: #{email}
.span3: a#delete(href='#delete', data-user='#{firstName}_#{lastName}') Delete
